@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Libre+Baskerville:ital,wght@0,400;0,700;1,400 & family= Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600 & mostrar=intercambiar");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700; }

h1 {
  text-align: center;
  color: #0D0D0D;
  letter-spacing: 2px;
  padding-top: 20px; }

h2 {
  text-align: center;
  color: #0D0D0D; }

p {
  font-family: 'Nunito', sans-serif; }

/*.....MAIN.....*/
main {
  background-color: #D9D9D9; }

/*.....Redimensión Iframe.....*/
.youtube-wrapper {
  width: 40%; }

.video-youtube {
  height: 0px;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative; }

.video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.conteiner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px; }

/*---Para Index y Pages---*/
.boton-wsp a img {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 90px;
  right: 15px;
  background-color: #D9D9D9;
  border-radius: 60px; }
  .boton-wsp a img:hover {
    background-color: #F28F79; }

/*.....HEADER.....*/
/*.....Modificación estilos navbar Bootstrap.....*/
.navbar {
  background-color: #404040; }

.logo {
  width: 100px;
  height: 80px; }

.nav-link {
  color: #F28F79 !important;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600; }

.nav-item:hover {
  border-radius: 4px;
  background-color: rgba(252, 248, 248, 0.13); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-toggler {
  color: #D9D9D9;
  border: 1px solid #D9D9D9; }

.navbar-toggler:not(.collapsep)::after {
  filter: brightness(0%) invert(20%); }

.navbar-toggler:focus {
  box-shadow: inherit; }

/*---Page Servicios---*/
.placa-servicios {
  display: flex;
  justify-content: center;
  align-items: center; }
  .placa-servicios img {
    width: 350px;
    padding: 30px 0; }

p {
  text-align: justify;
  padding: 0 35px; }

.camaras h2 {
  margin-top: 30px;
  margin-bottom: 20px; }

.camaras .container-camaras {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .camaras .container-camaras img {
    width: 240px;
    height: 440px;
    margin: 40px;
    transition: 300ms;
    position: relative;
    box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75); }
    .camaras .container-camaras img:hover {
      transform: scale(1.2); }

.info-util h2 {
  margin-top: 20px; }

.info-util p {
  text-align: justify;
  padding: 0 35px; }

.info-util h3 {
  text-align: center; }

.antivirus {
  display: flex;
  justify-content: center;
  align-items: center; }
  .antivirus .antivirus-img {
    width: 450px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .antivirus .antivirus-table {
    margin: 20px 0 40px 0;
    text-align: center;
    width: 70%; }
    .antivirus .antivirus-table thead {
      height: 60px; }
    .antivirus .antivirus-table tbody td {
      width: 150px;
      height: 100px; }

/*---PAGE NOSOTROS---*/
.hero {
  background-image: url("../img/banner1.png");
  margin-bottom: 20px;
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .titulo {
    width: 90%; }
    .hero .titulo .titulo-hero {
      font-size: 50px;
      color: #D9D9D9; }
    .hero .titulo .subtitulo-hero {
      font-size: 40px;
      color: #d9d9d9e3; }

/*---Modificación estilos accordion de Bootstrap---*/
.accordion {
  padding: 20px 20px; }

.accordion-item {
  border: 1px solid #A65851; }

.accordion-button {
  color: #0D0D0D;
  font-size: 24px; }

.accordion-button:not(.collapsep) {
  background: #F28F79;
  color: #0D0D0D; }

.accordion-button:not(.collapsep)::after {
  filter: brightness(0%) invert(20%); }

.accordion-button:focus {
  box-shadow: inherit; }

.accordion-button:hover {
  color: #48556a; }

.accordion-body {
  background-color: rgba(250, 186, 250, 0.699); }

.accordion-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

/*---ubicación---*/
.mapa h2 {
  margin-top: 20px; }

.mapa iframe {
  width: 100%; }

/*---FOOTER---*/
footer {
  background-color: #404040;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer a .top {
    width: 50px;
    height: 50px; }
  footer p {
    color: #D9D9D9;
    margin: 10px 0 10px 0;
    text-align: center; }
  footer div a img {
    width: 50px;
    height: 50px;
    padding: 3px; }

/*---MEDIA QUERIES---*/
/*---Responsive max-width---*/
@media screen and (max-width: 1075px) {
  .container {
    grid-template-columns: 1fr; }
  .container > div {
    grid-column: 1; }
  .box-jobs {
    grid-row: 1; }
  .box-cook {
    grid-row: 2; }
  .box-gates {
    grid-row: 3; }
  .box-bezos {
    grid-row: 4; }
  .box-musk {
    grid-row: 5; } }

@media screen and (max-width: 991px) {
  .nav-link {
    text-align: center; }
  .grid-conteiner-windows {
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(120px, auto); }
  .grid-item-windows {
    grid-column: span 1;
    grid-row: span 1; }
  .grid-item-11 {
    grid-column: span 2; }
  .youtube-wrapper {
    width: 60%; } }

@media screen and (max-width: 936px) {
  .antivirus .antivirus-table thead td {
    font-size: 1rem; }
  .antivirus .antivirus-table thead td {
    font-size: 0.9rem; } }

@media screen and (max-width: 900px) {
  .slider-card {
    height: 200px; }
  .boton-wsp {
    display: none; } }

@media screen and (max-width: 800px) {
  .slider-card div {
    margin-top: 60px; }
  .slider-card {
    height: 160px; }
  .slider-card h3 {
    font-size: 1.35rem; }
  .slider-card a {
    font-size: 1 rem; }
  .youtube-wrapper {
    width: 70%; } }

@media screen and (max-width: 620px) {
  .antivirus .antivirus-img {
    width: 350px; }
  .slider-card div {
    margin-top: 50px; }
  .slider-card {
    height: 130px; }
  .slider-card h3 {
    font-size: 1.25rem; }
  .slider-card a {
    font-size: 0.9rem; }
  footer {
    flex-direction: column; }
  .slide img {
    height: 55vh; } }

@media screen and (max-width: 530px) {
  .slider-card {
    height: 110px; }
  .slider-card h3 {
    font-size: 1.12rem; }
  .slider-card a {
    font-size: 0.75rem; }
  .slider-card div {
    margin-top: 35px; }
  .grid-item-windows h4 {
    font-size: 1.12rem; } }

@media screen and (max-width: 488px) {
  .titulo-sitio {
    font-size: 1.4rem; }
  p {
    font-size: 1rem; }
  .slider-card {
    height: 110px; }
  .slider-card h3 {
    font-size: 1rem; }
  .slider-card a {
    font-size: 0.75rem; }
  .button-form {
    font-size: 1rem; }
  .grid-item-windows h4 {
    font-size: 0.9rem; }
  .youtube-wrapper {
    width: 80%; }
  .slide img {
    height: 55vh; }
  .hero .titulo .titulo-hero {
    font-size: 2rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.75rem; } }

@media screen and (max-width: 428px) {
  .antivirus .antivirus-table thead td {
    font-size: 0.7rem; }
  .antivirus .antivirus-table tbody td {
    font-size: 0.6rem; }
  .slide img {
    height: 50vh; }
  .slider-card {
    height: 100px; }
  .slider-card h3 {
    font-size: 0.9rem; }
  .slider-card a {
    font-size: 0.5rem; }
  .grid-item-windows h4 {
    font-size: 0.8rem; }
  .accordion-button::after {
    width: 0;
    height: 0; }
  .accordion-body {
    font-size: 1rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.55rem; } }

@media screen and (max-width: 380px) {
  .titulo-sitio {
    font-size: 1.2rem; }
  .grid-genios h2 {
    font-size: 1.3rem; }
  p {
    font-size: 0.75rem; }
  .slide img {
    height: 40vh; }
  .placa-servicios img {
    width: 280px; }
  .antivirus .antivirus-img {
    width: 280px; }
  .slider-card {
    height: 90px; }
  .slider-card h3 {
    font-size: 0.7rem; }
  .slider-card a {
    font-size: 0.5rem; }
  .slider-card div {
    padding-bottom: 5px; }
  .text-datos {
    font-size: 0.75rem; }
  .textarea {
    font-size: 0.75rem; }
  .grid-item-windows h4 {
    font-size: 0.7rem; }
  .accordion-body {
    font-size: 0.75rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.32rem; } }
