@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Libre+Baskerville:ital,wght@0,400;0,700;1,400 & family= Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600 & mostrar=intercambiar");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700; }

h1 {
  text-align: center;
  color: #0D0D0D;
  letter-spacing: 2px;
  padding-top: 20px; }

h2 {
  text-align: center;
  color: #0D0D0D; }

p {
  font-family: 'Nunito', sans-serif; }

/*.....MAIN.....*/
main {
  background-color: #D9D9D9; }

/*.....Redimensión Iframe.....*/
.youtube-wrapper {
  width: 40%; }

.video-youtube {
  height: 0px;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative; }

.video-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.conteiner-wrapper {
  /*Mixin*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px; }

/*---Para Index y Pages---*/
.boton-wsp a img {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 90px;
  right: 15px;
  background-color: #fff;
  border-radius: 60px; }
  .boton-wsp a img:hover {
    background-color: #F28F79; }

.camaras .container-camaras {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*.....HEADER.....*/
/*.....Modificación estilos navbar Bootstrap.....*/
.navbar {
  background-color: #404040; }

.logo {
  width: 100px;
  height: 80px; }

.nav-link {
  color: #F28F79 !important;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600; }

.nav-item:hover {
  border-radius: 4px;
  background-color: rgba(252, 248, 248, 0.13); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-toggler {
  color: #D9D9D9;
  border: 1px solid #D9D9D9; }

.navbar-toggler:not(.collapsep)::after {
  filter: brightness(0%) invert(20%); }

.navbar-toggler:focus {
  box-shadow: inherit; }

/*INDEX*/
/*Redimensión carousel Bootstrap*/
.slide img {
  height: 70vh; }

/*Grid*/
.presentacion .titulo-inicio {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.presentacion h2 {
  margin-top: 30px;
  margin-bottom: 30px; }

.presentacion .contain {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .presentacion .contain .box-jobs {
    background: #A65851;
    grid-row: 1;
    grid-column: 1/3; }
  .presentacion .contain .box-cook {
    background: #3E4C59;
    grid-row: 1;
    grid-column: 3/4; }
  .presentacion .contain .box-gates {
    background: #F28F79;
    grid-row: 1/3;
    grid-column: 4/5; }
  .presentacion .contain .box-bezos {
    background: #3E4C59;
    grid-row: 2/3;
    grid-column: 1/2; }
  .presentacion .contain .box-musk {
    background: #A65851;
    grid-row: 2/3;
    grid-column: 2/4; }
  .presentacion .contain .grid-box {
    padding: 15px;
    border-radius: 10px; }
    .presentacion .contain .grid-box .box-genios {
      display: flex;
      justify-content: center; }
      .presentacion .contain .grid-box .box-genios img {
        border-radius: 50%;
        height: 50px;
        margin-right: 10px; }
      .presentacion .contain .grid-box .box-genios .box-name h3 {
        font-size: 26px;
        color: #fff; }
      .presentacion .contain .grid-box .box-genios .box-name .small {
        font-size: 12px;
        color: #fff;
        padding: 0; }
    .presentacion .contain .grid-box .citas {
      font-size: 18px;
      color: #fff; }

/*Ofertas*/
.ofertas h2 {
  padding: 30px 0; }

.ofertas .content-ofertas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .ofertas .content-ofertas .cards-ofertas {
    width: 300px;
    height: 400px;
    border: 2px solid #0D0D0D;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 15px;
    background-color: #F28F79; }
    .ofertas .content-ofertas .cards-ofertas img {
      width: 100%;
      height: 300px;
      border-radius: 15px 15px 0 0; }
    .ofertas .content-ofertas .cards-ofertas h3 {
      margin-bottom: 30px;
      font-size: 25px;
      line-height: 20px; }
    .ofertas .content-ofertas .cards-ofertas a {
      text-decoration: none;
      background-color: #0D0D0D;
      padding: 5px;
      color: #D9D9D9;
      border-radius: 5px; }

.camaras .container-camaras {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*---PAGE SERVICIOS---*/
.servicios .conteiner-placa {
  /*Mixin*/
  display: flex;
  justify-content: center;
  align-items: center; }
  .servicios .conteiner-placa .placa-servicios {
    height: 500px;
    margin: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.86);
    overflow: hidden;
    border-radius: 8px; }
    .servicios .conteiner-placa .placa-servicios img {
      height: 500px;
      width: 350px;
      border-radius: 8px; }
    .servicios .conteiner-placa .placa-servicios .box-texto {
      width: 350px;
      padding-top: 20px;
      position: relative;
      color: white;
      bottom: 200px;
      border-radius: 8px; }
      .servicios .conteiner-placa .placa-servicios .box-texto h3 {
        margin: 10px;
        text-align: center;
        font-size: 35px;
        visibility: hidden;
        opacity: 0; }
      .servicios .conteiner-placa .placa-servicios .box-texto p {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        visibility: hidden;
        opacity: 0; }
    .servicios .conteiner-placa .placa-servicios:hover {
      cursor: pointer; }
      .servicios .conteiner-placa .placa-servicios:hover .box-texto {
        height: 220px;
        background-image: linear-gradient(to right bottom, #0f0f0e, #383633, #66615c, #9a8e89, #d1bebb); }
      .servicios .conteiner-placa .placa-servicios:hover h3 {
        opacity: 1;
        visibility: visible; }
      .servicios .conteiner-placa .placa-servicios:hover p {
        opacity: 1;
        visibility: visible; }

.servicios p {
  text-align: justify;
  padding: 0 35px; }

.camaras h2 {
  margin-top: 30px;
  margin-bottom: 20px; }

.camaras .container-camaras {
  width: 100%;
  /*Extend*/ }
  .camaras .container-camaras img {
    width: 240px;
    height: 440px;
    margin: 40px;
    transition: 300ms;
    position: relative;
    box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75); }
    .camaras .container-camaras img:hover {
      transform: scale(1.2); }

.info-util h2 {
  margin-top: 20px; }

.info-util p {
  text-align: justify;
  padding: 0 35px; }

.info-util h3 {
  text-align: center; }

.info-util .antivirus {
  /*Mixin*/
  display: flex;
  justify-content: center;
  align-items: center; }
  .info-util .antivirus .antivirus-img {
    width: 450px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .info-util .antivirus .antivirus-table {
    margin: 20px 0 40px 0;
    text-align: center;
    width: 70%; }
    .info-util .antivirus .antivirus-table thead {
      height: 60px; }
    .info-util .antivirus .antivirus-table tbody td {
      width: 150px;
      height: 100px; }

/*PAGE TODO TECNO*/
/*Slider*/
.todo-tecno p {
  text-align: justify;
  padding: 0 30px; }

.todo-tecno .slider {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px; }
  .todo-tecno .slider ul {
    display: flex;
    width: 300%;
    animation: transition 30s infinite alternate linear; }
    .todo-tecno .slider ul li {
      width: 100%;
      list-style: none;
      padding-left: 5px; }
      .todo-tecno .slider ul li .slider-card {
        width: 100%;
        height: 250px;
        border: 2px solid #0D0D0D;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover; }
        .todo-tecno .slider ul li .slider-card div {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 70px; }
          .todo-tecno .slider ul li .slider-card div h3 {
            color: #D9D9D9;
            background-color: #0808088a; }
          .todo-tecno .slider ul li .slider-card div a {
            text-decoration: none;
            background-color: #0808088a;
            padding: 5px;
            color: #D9D9D9;
            border-radius: 5px; }
      .todo-tecno .slider ul li .slider-card-img1 {
        background-image: url("../img/mac1.jpg"); }
      .todo-tecno .slider ul li .slider-card-img2 {
        background-image: url("../img/dell.jpg"); }
      .todo-tecno .slider ul li .slider-card-img3 {
        background-image: url("../img/hp.jpg"); }
      .todo-tecno .slider ul li .slider-card-img4 {
        background-image: url("../img/dell1.jpg"); }
      .todo-tecno .slider ul li .slider-card-img5 {
        background-image: url("../img/lg.png"); }
      .todo-tecno .slider ul li .slider-card-img6 {
        background-image: url("../img/acer.png"); }
      .todo-tecno .slider ul li .slider-card-img7 {
        background-image: url("../img/mac2.png"); }
      .todo-tecno .slider ul li .slider-card-img8 {
        background-image: url("../img/asus.jpg"); }

@keyframes transition {
  0% {
    margin-left: 0; }
  20% {
    margin-left: -50%; }
  40% {
    margin-left: -100%; }
  60% {
    margin-left: -150%; }
  80% {
    margin-left: -200%; }
  100% {
    margin-left: 0; } }

/*---Galería flexbox Windows---*/
.todo-tecno h3 {
  text-align: center; }

.todo-tecno .contenedor-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .todo-tecno .contenedor-flex .box {
    position: relative;
    width: 300px;
    height: 170px;
    margin: 10px; }
    .todo-tecno .contenedor-flex .box .imgbox {
      position: relative;
      overflow: hidden;
      border-radius: 5px; }
      .todo-tecno .contenedor-flex .box .imgbox img {
        max-width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid; }
    .todo-tecno .contenedor-flex .box .descripcion {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      background: rgba(0, 0, 0, 0.8);
      transform: scaleY(0);
      transition: transform .5s;
      border-radius: 5px; }
      .todo-tecno .contenedor-flex .box .descripcion .contenido {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 15px;
        color: #fff; }
        .todo-tecno .contenedor-flex .box .descripcion .contenido h4 {
          margin: 0;
          padding: 0;
          font-size: 18px;
          color: #F28F79; }
        .todo-tecno .contenedor-flex .box .descripcion .contenido p {
          margin: 10px 0 0;
          padding: 0;
          font-size: 12px; }
    .todo-tecno .contenedor-flex .box:hover .descripcion {
      transform: scaleY(1);
      cursor: pointer; }

/*---Cards Bootstrap con efecto en imagen---*/
/*---Clases agregadas para dar efecto---*/
.cards h2 {
  margin-top: 20px; }

.cards .container {
  padding-bottom: 40px; }
  .cards .container .img-efect {
    overflow: hidden; }
    .cards .container .img-efect img {
      transition: all 1.5s ease; }
      .cards .container .img-efect img:hover {
        transform: scale(1.5);
        cursor: pointer; }

/*---Modificación estilos Cards Bootstrap---*/
.card {
  border-radius: 8px;
  border: 4px solid rgba(170, 81, 81, 0.685); }

.card img {
  border-bottom: 4px solid rgba(170, 81, 81, 0.685); }

.card-body h5 {
  color: #0D0D0D;
  box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
  -webkit-box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
  -moz-box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75); }

/*---PAGE CONTACTO---*/
.contacto {
  max-width: 100%;
  height: 100%;
  background-image: url("../img/system.jpg");
  /*Mapa*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .contacto .titulo-contacto {
    padding-top: 30px; }
  .contacto .contenedor {
    padding: 30px; }
  .contacto form {
    margin: auto;
    width: 90%;
    max-width: 650px;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.6); }
    .contacto form:first-child {
      padding-top: 25px; }
    .contacto form .text-label {
      color: #F28F79;
      margin-bottom: 5px; }
    .contacto form .text-datos {
      height: 50px;
      margin-bottom: 10px;
      color: #D9D9D9;
      display: block;
      border: none;
      border-bottom: 4px solid #F28F79;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      margin-top: 10px;
      padding-left: 9px;
      position: relative;
      outline: none; }
      .contacto form .text-datos:hover {
        font-size: 12px;
        transition: all 0.7s ease; }
    .contacto form .textarea {
      height: 100px;
      min-height: 50px;
      margin-bottom: 15px;
      padding-top: 10px;
      color: #fff;
      display: block;
      border: none;
      border-bottom: 4px solid #F28F79;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      margin-top: 10px;
      padding-left: 9px;
      position: relative;
      outline: none; }
      .contacto form .textarea:hover {
        font-size: 12px;
        transition: all 0.7s ease; }
    .contacto form .check {
      margin-bottom: 20px; }
    .contacto form .button-form {
      width: 100%;
      height: 45px;
      border: none;
      color: #D9D9D9;
      background: #0D0D0D;
      margin-bottom: 25px;
      font-size: 20px;
      cursor: pointer; }
      .contacto form .button-form:hover {
        border-bottom: 4px solid #F28F79;
        background: rgba(0, 0, 0, 0.7);
        color: #F28F79;
        transition: all 0.7s ease; }

/*---PAGE NOSOTROS---*/
.hero {
  background-image: url("../img/banner1.png");
  margin-bottom: 20px;
  width: 100%;
  height: 80vh;
  /*Mapa*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*Mixin*/
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .titulo {
    width: 90%; }
    .hero .titulo .titulo-hero {
      font-size: 50px;
      color: #fff; }
    .hero .titulo .subtitulo-hero {
      font-size: 40px;
      color: #D9D9D9; }

/*---Modificación estilos accordion de Bootstrap---*/
.accordion {
  padding: 20px 20px; }

.accordion-item {
  border: 1px solid #A65851; }

.accordion-button {
  color: #0D0D0D;
  font-size: 24px; }

.accordion-button:not(.collapsep) {
  background: #F28F79;
  color: #0D0D0D; }

.accordion-button:not(.collapsep)::after {
  filter: brightness(0%) invert(20%); }

.accordion-button:focus {
  box-shadow: inherit; }

.accordion-button:hover {
  color: #3E4C59; }

.accordion-body {
  background-color: rgba(250, 186, 250, 0.699); }

.accordion-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

/*---ubicación---*/
.mapa h2 {
  margin-top: 20px; }

.mapa iframe {
  width: 100%; }

/*---FOOTER---*/
footer {
  background-color: #404040;
  /*Mixin*/
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer div a img {
    width: 50px;
    height: 50px;
    padding: 3px; }
  footer p {
    color: #fff;
    margin: 10px 0 10px 0;
    text-align: center; }
  footer .powered {
    width: 200px;
    height: 60px;
    border-radius: 10px; }

/*---MEDIA QUERIES---*/
/*---Responsive max-width---*/
@media screen and (max-width: 1075px) {
  .presentacion .contain {
    grid-template-columns: 1fr; }
  .presentacion .contain .box-jobs {
    grid-column: 1;
    grid-row: 1; }
  .presentacion .contain .box-cook {
    grid-column: 1;
    grid-row: 2; }
  .presentacion .contain .box-gates {
    grid-column: 1;
    grid-row: 3; }
  .presentacion .contain .box-bezos {
    grid-column: 1;
    grid-row: 4; }
  .presentacion .contain .box-musk {
    grid-column: 1;
    grid-row: 5; } }

@media screen and (max-width: 991px) {
  .nav-link {
    text-align: center; }
  .youtube-wrapper {
    width: 60%; } }

@media screen and (max-width: 936px) {
  .info-util .antivirus .antivirus-table thead td {
    font-size: 1rem; }
  .info-util .antivirus .antivirus-table thead td {
    font-size: 0.9rem; } }

@media screen and (max-width: 900px) {
  .todo-tecno .slider ul li .slider-card {
    height: 200px; }
  .boton-wsp {
    display: none; } }

@media screen and (max-width: 800px) {
  .todo-tecno .slider ul li .slider-card div {
    margin-top: 60px; }
  .todo-tecno .slider ul li .slider-card {
    height: 160px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 1.35rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 1 rem; }
  .youtube-wrapper {
    width: 70%; } }

@media screen and (max-width: 620px) {
  .info-util .antivirus .antivirus-img {
    width: 350px; }
  .todo-tecno .slider ul li .slider-card div {
    margin-top: 50px; }
  .todo-tecno .slider ul li .slider-card {
    height: 130px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 1.25rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 0.9rem; }
  footer {
    flex-direction: column; }
  .slide img {
    height: 55vh; } }

@media screen and (max-width: 530px) {
  .todo-tecno .slider ul li .slider-card {
    height: 110px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 1.12rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 0.75rem; }
  .todo-tecno .slider ul li .slider-card div {
    margin-top: 35px; } }

@media screen and (max-width: 488px) {
  .titulo-inicio {
    font-size: 1.4rem; }
  p {
    font-size: 1rem; }
  .servicios .conteiner-placa .placa-servicios {
    width: 300px;
    height: 380px; }
  .servicios .conteiner-placa .placa-servicios img {
    width: 300px;
    height: 380px; }
  .servicios .conteiner-placa .placa-servicios .box-texto {
    width: 300px; }
  .servicios .conteiner-placa .placa-servicios .box-texto h3 {
    font-size: 30px; }
  .todo-tecno .slider ul li .slider-card {
    height: 110px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 1rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 0.75rem; }
  .button-form {
    font-size: 1rem; }
  .youtube-wrapper {
    width: 80%; }
  .slide img {
    height: 55vh; }
  .hero .titulo .titulo-hero {
    font-size: 2rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.75rem; } }

@media screen and (max-width: 428px) {
  .servicios .conteiner-placa .placa-servicios {
    width: 220px;
    height: 320px; }
  .servicios .conteiner-placa .placa-servicios img {
    width: 220px;
    height: 320px; }
  .servicios .conteiner-placa .placa-servicios .box-texto {
    width: 220px; }
  .servicios .conteiner-placa .placa-servicios .box-texto h3 {
    font-size: 25px; }
  .servicios .conteiner-placa .placa-servicios .box-texto p {
    font-size: 18px; }
  .info-util .antivirus .antivirus-table thead td {
    font-size: 0.7rem; }
  .info-util .antivirus .antivirus-table tbody td {
    font-size: 0.6rem; }
  .slide img {
    height: 50vh; }
  .todo-tecno .slider ul li .slider-card {
    height: 100px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 0.9rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 0.5rem; }
  .contacto .titulo-contacto {
    font-size: 1.5rem; }
  .accordion-button::after {
    width: 0;
    height: 0; }
  .accordion-body {
    font-size: 1rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.55rem; } }

@media screen and (max-width: 380px) {
  .titulo-inicio {
    font-size: 1.2rem; }
  .grid-genios h2 {
    font-size: 1.3rem; }
  .presentacion .contain .grid-box .citas {
    font-size: 0.85rem; }
  p {
    font-size: 0.75rem; }
  .slide img {
    height: 40vh; }
  .info-util .antivirus .antivirus-img {
    width: 280px; }
  .todo-tecno .slider ul li .slider-card {
    height: 90px; }
  .todo-tecno .slider ul li .slider-card h3 {
    font-size: 0.7rem; }
  .todo-tecno .slider ul li .slider-card a {
    font-size: 0.55rem; }
  .todo-tecno .slider ul li .slider-card div {
    padding-bottom: 5px; }
  .contacto .titulo-contacto {
    font-size: 1.3rem; }
  .text-datos {
    font-size: 0.75rem; }
  .textarea {
    font-size: 0.75rem; }
  .accordion-body {
    font-size: 0.75rem; }
  .hero .titulo .subtitulo-hero {
    font-size: 1.32rem; } }
