@import url('https://fonts.googleapis.com/css2? family= Libre+Baskerville:ital,wght@0,400;0,700;1,400 & family= Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600 & mostrar=intercambiar');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

/*.....BODY.....*/
/*Aplicación de estilos predeterminados para los títulos y párrafos, modificándolos cuando lo necesite por medio de las clases*/
body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

h1 {
    text-align    : center;
    color         : #0D0D0D;
    letter-spacing: 2px;
    padding-top   : 20px;
}

h2 {
    text-align: center;
    color     : #0D0D0D;
}


body p {
    font-family: 'Nunito', sans-serif;
}

/*.....Redimensión Iframe.....*/

.youtube-wrapper {
    width: 40%;
}

.video-youtube {
    height        : 0px;
    padding-bottom: 56.25%;
    padding-top   : 25px;
    position      : relative;
}

.video-youtube iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    height  : 100%;
    width   : 100%;
}

.conteiner-wrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 40px;
    margin-bottom  : 40px;
}

/*.....HEADER.....*/
header nav {
    background-color: #404040;
}

.logo {
    width : 100px;
    height: 80px;
}

nav ul li a {
    color      : #F28F79 !important;
    font-size  : 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.nav-item:hover {
    border-radius   : 4px;
    background-color: rgba(252, 248, 248, 0.13);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler {
    color : #D9D9D9;
    border: 1px solid #D9D9D9;
}

.navbar-toggler:not(.collapsep)::after {
    filter: brightness(0%) invert(20%);
}

.navbar-toggler:focus {
    box-shadow: inherit;
}

/*.....MAIN.....*/

.principal {
    background-color: #D9D9D9;
}

/*---Index---*/

.slide img {
    height: 70vh;
}

.titulo-sitio {
    box-shadow        : 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*---Grid Index---*/

.container {
    max-width: 1300px;
    margin   : 0 auto;
    padding  : 0 30px;
}

.container h4 {
    font-size: 24px;
}

.small {
    font-size: 12px;
}

.citas {
    font-size: 20px;
}

.grid-genios h2 {
    margin-top   : 30px;
    margin-bottom: 30px;
}

.grid-genios .container {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    gap                  : 10px;
}

.grid-box {
    padding      : 15px;
    border-radius: 10px;
}

.box-genios {
    display    : flex;
    align-items: center;
}

.box-genios img {
    border-radius: 50%;
    height       : 50px;
    margin-right : 10px;
}

.box-name h4:first-child {
    color: #fff;
}

.box-name h4:nth-child(2) {
    color: #fff;
}

.grid-box p {
    color: #fff;
}

.color-uno {
    background: #A65851;
}

.color-dos {
    background: #3E4C59;
}

.color-tres {
    background: #F2D5ED;
}

.color-cuatro {
    background: #F28F79;
}

.color-tres h4:first-child {
    color: #48556a;
}

.color-tres p {
    color: #48556a;
}

.color-tres h4:nth-child(2) {
    color  : #48556a;
    opacity: 80%;
}

.box-jobs {
    grid-row   : 1;
    grid-column: 1/3;
}

.box-cook {
    grid-row   : 1;
    grid-column: 3/4;
}

.box-gates {
    grid-row   : 1/3;
    grid-column: 4/5;
}

.box-bezos {
    grid-row   : 2/3;
    grid-column: 1/2;
}

.box-musk {
    grid-row   : 2/3;
    grid-column: 2/4;
}

.ofertas h2 {
    text-align: center;
    padding   : 30px 0;

}

.ofertas>div {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
}

.ofertas div div {
    width           : 300px;
    height          : 400px;
    border          : 2px solid #0D0D0D;
    margin-bottom   : 40px;
    text-align      : center;
    border-radius   : 15px;
    background-color: #F28F79;
}

.ofertas div div img {
    width        : 100%;
    height       : 300px;
    border-radius: 15px 15px 0 0;
}

.ofertas div div h3 {
    margin-bottom: 30px;
    font-size    : 25px;
    line-height  : 20px;
}

.ofertas div div a {
    text-decoration : none;
    background-color: #0D0D0D;
    padding         : 5px;
    color           : #D9D9D9;
    border-radius   : 5px;
}

/*---Page Servicios---*/

.servicios,
.info-util h3 {
    text-align: center;
}

.servicios,
.info-util p {
    text-align: justify;
    padding   : 0 35px;
}

.servicios .placa-servicios {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.servicios img {
    width  : 350px;
    padding: 30px 0;
}

.camaras h2 {
    margin-top   : 30px;
    margin-bottom: 20px;
}

.container-camaras {
    width          : 100%;
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

.container-camaras img {
    width             : 240px;
    height            : 440px;
    margin            : 40px;
    transition        : 300ms;
    position          : relative;
    box-shadow        : 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : 10px -8px 5px 0px rgba(0, 0, 0, 0.75);
}

.container-camaras img:hover {
    transform: scale(1.2);
}

.info-util h2 {
    margin-top: 20px;
}

.info-util .antivirus {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.antivirus img {
    width         : 450px;
    padding-top   : 30px;
    padding-bottom: 30px
}

.antivirus table {
    margin    : 20px 0 40px 0;
    text-align: center;
    width     : 70%;
}

.antivirus table thead {
    height: 60px;
}

.antivirus table tbody td {
    width : 150px;
    height: 100px;
}

/*---Page Todo Tecno---*/

.todo-tecno p {
    text-align: justify;
    padding   : 0 30px;
}

.slider {
    width        : 100%;
    overflow     : hidden;
    margin-top   : 20px;
    margin-bottom: 20px;
}

.slider ul {
    display     : flex;
    width       : 300%;
    animation   : transition 30s infinite alternate linear;
    padding-left: 0;
}

.slider li {
    width       : 100%;
    list-style  : none;
    padding-left: 5px;
}

.slider-card {
    width          : 100%;
    height         : 250px;
    border         : 2px solid #0D0D0D;
    border-radius  : 15px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background-size: cover;
}

.slider-card div {
    width          : 90%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-top     : 70px;
}

.slider-card h3 {
    color           : #D9D9D9;
    background-color: #0808088a;
}

.slider-card a {
    text-decoration : none;
    background-color: #0808088a;
    padding         : 5px;
    color           : #D9D9D9;
    border-radius   : 5px;
}

.slider-card-img1 {
    background-image: url("../img/mac1.jpg");
}

.slider-card-img2 {
    background-image: url("../img/dell.jpg");
}

.slider-card-img3 {
    background-image: url("../img/hp.jpg");
}

.slider-card-img4 {
    background-image: url("../img/dell1.jpg");
}

.slider-card-img5 {
    background-image: url("../img/lg.png");
}

.slider-card-img6 {
    background-image: url("../img/acer.png");
}

.slider-card-img7 {
    background-image: url("../img/mac2.png");
}

.slider-card-img8 {
    background-image: url("../img/asus.jpg");
}

@keyframes transition {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -50%;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -150%;
    }

    80% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

/*---Grid todo Tecno---*/

.todo-tecno h3 {
    text-align: center;
}

.grid-conteiner-windows {
    max-width            : 1300px;
    margin               : 0 auto;
    padding              : 0 30px 30px;
    height               : auto;
    display              : grid;
    gap                  : 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows       : minmax(180px, auto);
}

.grid-item-windows {
    background-color: #3E4C59;
    border          : 5px solid;
    position        : relative;
}

.grid-item-windows h4 {
    position        : absolute;
    bottom          : 0;
    color           : #D9D9D9;
    background-color: rgba(13, 13, 14, 0.61);
    width           : 100%;
}

.grid-item-windows>img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.grid-item-2 {
    grid-column: 2 / 4;
    grid-row   : 1 / 3;
}

.grid-item-4 {
    grid-row: 3 / 5;
}

.grid-item-8 {
    grid-column: 3 / 4;
    grid-row   : 4 / 6;
}

.grid-item-9 {
    grid-column: 1 / 3;
    grid-row   : 5 / 7;
}

.grid-item-12 {
    grid-column: 2 / 4;
    grid-row   : 7 / 9;
}

/*---card bootstrap con efecto en imagen---*/

.container {
    padding-bottom: 40px;
}

.cards h2 {
    margin-top: 20px;
}

.img-efect {
    overflow: hidden;
}

.img-efect img {
    transition: all 1.5s ease;
}

.img-efect:hover img {
    transform: scale(1.5);
    cursor   : pointer;
}

.card {
    border-radius: 8px;
    border       : 4px solid rgba(170, 81, 81, 0.685);
}

.card img {
    border-bottom: 4px solid rgba(170, 81, 81, 0.685);
}

.card-body h5 {
    color             : #0D0D0D;
    box-shadow        : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -webkit-box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -moz-box-shadow   : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
}

/*---Page Contacto---*/

.contacto {
    max-width            : 100%;
    height               : 100%;
    background-image     : url("../img/system.jpg");
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-position  : center;
}

.contacto h1 {
    padding-top: 30px;
}

.contacto .animate__animated {
    color             : #221313d3;
    animation         : zoomIn;
    animation-duration: 3s;
}

.contenedor {
    padding: 30px;
}

form {
    margin    : auto;
    width     : 90%;
    max-width : 650px;
    padding   : 5px 20px;
    background: rgba(0, 0, 0, 0.6);
}

form:first-child {
    padding-top: 25px;
}

.text-label {
    color        : #F28F79;
    margin-bottom: 5px;
}

.text-datos,
.textarea {
    display      : block;
    border       : none;
    border-bottom: 4px solid #F28F79;
    background   : rgba(0, 0, 0, 0.7);
    width        : 100%;
    margin-top   : 10px;
    padding-left : 9px;
    position     : relative;
    outline      : none;
}

.text-datos {
    height       : 50px;
    margin-bottom: 10px;
    color        : #D9D9D9;
}

.check {
    margin-bottom: 20px;
}

.textarea {
    height       : 100px;
    min-height   : 50px;
    margin-bottom: 15px;
    padding-top  : 10px;
    color        : #D9D9D9;
}

.button-form {
    width        : 100%;
    height       : 45px;
    border       : none;
    color        : #D9D9D9;
    background   : #0D0D0D;
    margin-bottom: 25px;
    font-size    : 20px;
    cursor       : pointer;
}

.button-form:hover {
    border-bottom: 4px solid #F28F79;
    background   : rgba(0, 0, 0, 0.7);
    color        : #F28F79;
    transition   : all 0.7s ease;
}

.text-datos:hover,
.textarea:hover {
    font-size : 12px;
    transition: all 0.7s ease;
}

/*---Page Nosotros---*/

.nosotros .hero {
    background-image     : url("../img/banner1.png");
    margin-bottom        : 20px;
    width                : 100%;
    height               : 80vh;
    background-position  : center;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
    display              : flex;
    justify-content      : center;
    align-items          : center;
}

.nosotros .titulo {
    width: 90%;
}

.hero h1 {
    font-size: 50px;
    color    : #D9D9D9;
}

.hero h2 {
    font-size: 40px;
    color    : #d9d9d9e3;
}

.accordion {
    padding: 20px 20px;
}

.accordion-item {
    border: 1px solid #A65851;
}

.accordion-button {
    color    : #0D0D0D;
    font-size: 24px;
}

.accordion-button:not(.collapsep) {
    background: #F28F79;
    color     : #0D0D0D;
}

.accordion-button:not(.collapsep)::after {
    filter: brightness(0%) invert(20%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-button:hover {
    color: #48556a;
}

.accordion-body {
    background-color: rgba(250, 186, 250, 0.699);
}

.accordion-body ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Nunito', sans-serif;
}

.mapa h2 {
    margin-top: 20px;
}

.mapa iframe {
    width: 100%;
}

/*.....FOOTER.....*/

.pie {
    background-color: #404040;
    display         : flex;
    justify-content : space-evenly;
    align-items     : center;
}

.pie p {
    color     : #D9D9D9;
    margin    : 10px 0 10px 0;
    text-align: center;
}

.pie div a img {
    width  : 50px;
    height : 50px;
    padding: 3px;
}

/*---Para Index y Pages---*/

.boton-wsp img {
    position        : fixed;
    width           : 65px;
    height          : 65px;
    bottom          : 90px;
    right           : 15px;
    background-color: #D9D9D9;
    border-radius   : 60px;
}

.boton-wsp :hover {
    background-color: #F28F79;
}

.top {
    width : 50px;
    height: 50px;
}

/*---MEDIA QUERIES---*/
/*---Responsive max-width---*/

@media screen and (max-width:1075px) {
    .grid-genios .container {
        grid-template-columns: 1fr;
    }

    .container>div {
        grid-column: 1;
    }

    .box-jobs {
        grid-row: 1;
    }

    .box-cook {
        grid-row: 2;
    }

    .box-gates {
        grid-row: 3;
    }

    .box-bezos {
        grid-row: 4;
    }

    .box-musk {
        grid-row: 5;
    }
}

@media screen and (max-width:991px) {
    .nav-link {
        text-align: center;
    }

    .grid-conteiner-windows {
        grid-template-columns: repeat(2, 2fr);
        grid-auto-rows       : minmax(120px, auto);
    }

    .grid-item-windows {
        grid-column: span 1;
        grid-row   : span 1;
    }

    .grid-item-11 {
        grid-column: span 2;
    }

    .youtube-wrapper {
        width: 60%;
    }
}

@media screen and (max-width:936px) {
    .antivirus table thead {
        font-size: 1rem;
    }

    .antivirus table thead td {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
    .slider-card {
        height: 200px;
    }

    .boton-wsp {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .slider-card div {
        margin-top: 60px;
    }

    .slider-card {
        height: 160px;
    }

    .slider-card h3 {
        font-size: 1.35rem;
    }

    .slider-card a {
        font-size: 1 rem;
    }

    .youtube-wrapper {
        width: 70%;
    }
}


@media screen and (max-width:620px) {
    .info-util img {
        width: 350px;
    }

    .slider-card div {
        margin-top: 50px;
    }

    .slider-card {
        height: 130px;
    }

    .slider-card h3 {
        font-size: 1.25rem;
    }

    .slider-card a {
        font-size: 0.9rem;
    }

    .pie {
        flex-direction: column;
    }

    .slide img {
        height: 55vh;
    }
}

@media screen and (max-width:530px) {
    .slider-card {
        height: 110px;
    }

    .slider-card h3 {
        font-size: 1.12rem;
    }

    .slider-card a {
        font-size: 0.75rem;
    }

    .slider-card div {
        margin-top: 35px;
    }

    .grid-item-windows h4 {
        font-size: 1.12rem;
    }
}

@media screen and (max-width:488px) {
    .titulo-sitio {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    .slider-card {
        height: 110px;
    }

    .slider-card h3 {
        font-size: 1rem;
    }

    .slider-card a {
        font-size: 0.75rem;
    }

    .button-form {
        font-size: 1rem;
    }

    .grid-item-windows h4 {
        font-size: 0.9rem;
    }

    .youtube-wrapper {
        width: 80%;
    }

    .slide img {
        height: 55vh;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:428px) {
    .antivirus table thead td {
        font-size: 0.8rem;
    }

    .antivirus table tbody td {
        font-size: 0.6rem;
    }

    .slide img {
        height: 50vh;
    }

    .slider-card {
        height: 100px;
    }

    .slider-card h3 {
        font-size: 0.9rem;
    }

    .slider-card a {
        font-size: 0.5rem;
    }

    .grid-item-windows h4 {
        font-size: 0.8rem;
    }

    .accordion-button::after {
        width : 0;
        height: 0;
    }

    .accordion-body {
        font-size: 1rem;
    }

    .hero h2 {
        font-size: 1.55rem;
    }
}

@media screen and (max-width:380px) {
    .titulo-sitio {
        font-size: 1.2rem;
    }

    .grid-genios h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.75rem;
    }

    .slide img {
        height: 40vh;
    }

    .placa-servicios img {
        width: 280px;
    }

    .info-util img {
        width: 280px;
    }

    .slider-card {
        height: 90px;
    }

    .slider-card h3 {
        font-size: 0.7rem;
    }

    .slider-card a {
        font-size: 0.5rem;
    }

    .slider-card div {
        padding-bottom: 5px;
    }

    .text-datos {
        font-size: 0.75rem;
    }

    .textarea {
        font-size: 0.75rem;
    }

    .grid-item-windows h4 {
        font-size: 0.7rem;
    }

    .accordion-body {
        font-size: 0.75rem;
    }

    .hero h2 {
        font-size: 1.32rem;
    }
}