@import "../base/variables";
@import "../base/map";

/*---PAGE CONTACTO---*/

.contacto {
    max-width            : 100%;
    height               : 100%;
    background-image     : url("../img/system.jpg");
    /*Mapa*/
    background-size      : map-get($imgfondo, bg-size);
    background-repeat    : map-get($imgfondo, bg-repeat);
    background-attachment: map-get($imgfondo, bg-attachment);
    background-position  : map-get($imgfondo, bg-position);

    .titulo-contacto {
        padding-top: 30px;
    }

    .contenedor {
        padding: 30px;
    }

    form {
        margin    : auto;
        width     : 90%;
        max-width : 650px;
        padding   : 5px 20px;
        background: rgba(0, 0, 0, 0.6);

        &:first-child {
            padding-top: 25px;
        }

        .text-label {
            color        : $color-salmon;
            margin-bottom: 5px;
        }

        .text-datos {
            height       : 50px;
            margin-bottom: 10px;
            color        : $color-tiza;
            display      : block;
            border       : none;
            border-bottom: 4px solid $color-salmon;
            background   : rgba(0, 0, 0, 0.7);
            width        : 100%;
            margin-top   : 10px;
            padding-left : 9px;
            position     : relative;
            outline      : none;

            &:hover {
                font-size : 12px;
                transition: all 0.7s ease;
            }
        }

        .textarea {
            height       : 100px;
            min-height   : 50px;
            margin-bottom: 15px;
            padding-top  : 10px;
            color        : $color-blanco;
            display      : block;
            border       : none;
            border-bottom: 4px solid $color-salmon;
            background   : rgba(0, 0, 0, 0.7);
            width        : 100%;
            margin-top   : 10px;
            padding-left : 9px;
            position     : relative;
            outline      : none;

            &:hover {
                font-size : 12px;
                transition: all 0.7s ease;
            }
        }

        .check {
            margin-bottom: 20px;
        }

        .button-form {
            width        : 100%;
            height       : 45px;
            border       : none;
            color        : $color-tiza;
            background   : $color-negro;
            margin-bottom: 25px;
            font-size    : 20px;
            cursor       : pointer;

            &:hover {
                border-bottom: 4px solid $color-salmon;
                background   : rgba(0, 0, 0, 0.7);
                color        : $color-salmon;
                transition   : all 0.7s ease;
            }
        }
    }
}