@import "../base/variables";
@import "../base/mixin";

/*---FOOTER---*/
footer{
    background-color: $color-plomizo;
    /*Mixin*/ 
    @include flex(flex, row, wrap, space-evenly, center);
    div{
        a{
        img{
        width  : 50px;
        height : 50px;
        padding: 3px;
            }
        }
    }
    
    p{
        color     : $color-blanco;
        margin    : 10px 0 10px 0;
        text-align: center;
    }

    .powered{
        width        : 200px;
        height       : 60px;
        border-radius: 10px;
    }
}