@import "../base/variables";

/*PAGE TODO TECNO*/

/*Slider*/
.todo-tecno{
    p{
        text-align: justify;
        padding   : 0 30px;
    }
    .slider{
        width        : 100%;
        overflow     : hidden;
        margin-top   : 20px;
        margin-bottom: 20px;
        ul{
            display     : flex;
            width       : 300%;
            animation   : transition 30s infinite alternate linear; 
            li{
                width       : 100%;
                list-style  : none;
                padding-left: 5px;
                .slider-card{
                    width          : 100%;
                    height         : 250px;
                    border         : 2px solid $color-negro;
                    border-radius  : 15px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    background-size: cover;
                    div{
                        width          : 90%;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;
                        flex-direction : column;
                        margin-top     : 70px;
                        h3{
                            color           : $color-tiza;
                            background-color: #0808088a;
                        }
                        a{
                            text-decoration : none;
                            background-color: #0808088a;
                            padding         : 5px;
                            color           : $color-tiza;
                            border-radius   : 5px;
                        }
                    }
                }
                .slider-card-img1 {
                    background-image: url("../img/mac1.jpg");
                }
                .slider-card-img2 {
                    background-image: url("../img/dell.jpg");
                }
                .slider-card-img3 {
                    background-image: url("../img/hp.jpg");
                }
                .slider-card-img4 {
                    background-image: url("../img/dell1.jpg");
                }
                .slider-card-img5 {
                    background-image: url("../img/lg.png");
                }
                .slider-card-img6 {
                    background-image: url("../img/acer.png");
                }
                .slider-card-img7 {
                    background-image: url("../img/mac2.png");
                }
                .slider-card-img8 {
                    background-image: url("../img/asus.jpg");
                }
            }
        }
    }
}
@keyframes transition {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -50%;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -150%;
    }

    80% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

/*---Grid Windows---*/
.todo-tecno{
    h3{
        text-align: center;
    }
    .grid-conteiner-windows{
        max-width            : 1300px;
        margin               : 0 auto;
        padding              : 0 30px 30px;
        height               : auto;
        display              : grid;
        gap                  : 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows       : minmax(180px, auto);
        .grid-item-windows{
            background-color: $color-gris;
            border          : 5px solid;
            position        : relative;
            img{
                width     : 100%;
                height    : 100%;
                object-fit: cover; 
            }
            h4{
                position        : absolute;
                bottom          : 0;
                color           : $color-tiza;
                background-color: rgba(13, 13, 14, 0.61);
                width           : 100%;
            }
        }
        .grid-item-2 {
            grid-column: 2 / 4;
            grid-row   : 1 / 3;
        }
        .grid-item-4 {
            grid-row: 3 / 5;
        }
        .grid-item-8 {
            grid-column: 3 / 4;
            grid-row   : 4 / 6;
        }
        .grid-item-9 {
            grid-column: 1 / 3;
            grid-row   : 5 / 7;
        }
        .grid-item-12 {
            grid-column: 2 / 4;
            grid-row   : 7 / 9;
        }
    }
}

/*---Cards Bootstrap con efecto en imagen---*/
/*---Clases agregadas para dar efecto---*/
.cards{
    h2{
        margin-top: 20px;
    }
    .container{
        padding-bottom: 40px;
        .img-efect{
            overflow: hidden;
            img{
                transition: all 1.5s ease;
                &:hover{
                    transform: scale(1.5);
                    cursor   : pointer;
                }
            }
        }
    }
}
/*---Modificación estilos Cards Bootstrap---*/
.card {
    border-radius: 8px;
    border       : 4px solid rgba(170, 81, 81, 0.685);
}

.card img {
    border-bottom: 4px solid rgba(170, 81, 81, 0.685);
}

.card-body h5 {
    color             : $color-negro;
    box-shadow        : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -webkit-box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -moz-box-shadow   : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
}