@import "../base/variables";
@import "../base/mixin";
@import "../base/map";

/*PAGE TODO TECNO*/

/*Slider*/
.todo-tecno {
    p {
        text-align: justify;
        padding   : 0 30px;
    }

    .slider {
        width        : 100%;
        overflow     : hidden;
        margin-top   : 20px;
        margin-bottom: 20px;

        ul {
            display  : flex;
            width    : 300%;
            animation: transition 30s infinite alternate linear;

            li {
                width       : 100%;
                list-style  : none;
                padding-left: 5px;

                .slider-card {
                    width        : 100%;
                    height       : 250px;
                    border       : 2px solid $color-negro;
                    border-radius: 15px;
                    @include flex(flex, row, nowrap, center, center);
                    background-size: map-get($imgfondo, bg-size);

                    div {
                        width: 90%;
                        @include flex(flex, column, nowrap, center, center);
                        margin-top: 70px;

                        h3 {
                            color           : $color-tiza;
                            background-color: #0808088a;
                        }

                        a {
                            text-decoration : none;
                            background-color: #0808088a;
                            padding         : 5px;
                            color           : $color-tiza;
                            border-radius   : 5px;
                        }
                    }
                }

                .slider-card-img1 {
                    background-image: url("../img/mac1.jpg");
                }

                .slider-card-img2 {
                    background-image: url("../img/dell.jpg");
                }

                .slider-card-img3 {
                    background-image: url("../img/hp.jpg");
                }

                .slider-card-img4 {
                    background-image: url("../img/dell1.jpg");
                }

                .slider-card-img5 {
                    background-image: url("../img/lg.png");
                }

                .slider-card-img6 {
                    background-image: url("../img/acer.png");
                }

                .slider-card-img7 {
                    background-image: url("../img/mac2.png");
                }

                .slider-card-img8 {
                    background-image: url("../img/asus.jpg");
                }
            }
        }
    }
}

@keyframes transition {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -50%;
    }

    40% {
        margin-left: -100%;
    }

    60% {
        margin-left: -150%;
    }

    80% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

/*---Galería flexbox Windows---*/
.todo-tecno {
    h3 {
        text-align: center;
    }

    .contenedor-flex {
        @include flex(flex, row, wrap, space-around, stretch);

        .box {
            position: relative;
            width   : 420px;
            height  : 235px;
            margin  : 10px;

            .imgbox {
                position     : relative;
                overflow     : hidden;
                border-radius: 5px;

                img {
                    max-width    : 100%;
                    height       : 100%;
                    border-radius: 5px;
                    border       : 2px solid;
                }
            }

            .descripcion {
                position     : absolute;
                top          : 10px;
                left         : 10px;
                bottom       : 10px;
                right        : 10px;
                background   : rgba(0, 0, 0, .8);
                transform    : scaleY(0);
                transition   : transform .5s;
                border-radius: 5px;

                .contenido {
                    position  : absolute;
                    top       : 50%;
                    transform : translateY(-50%);
                    text-align: center;
                    padding   : 15px;
                    color     : $color-blanco;

                    h4 {
                        margin   : 0;
                        padding  : 0;
                        font-size: 25px;
                        color    : $color-salmon;
                    }

                    p {
                        margin   : 10px 0 0;
                        padding  : 0;
                        font-size: 16px;
                    }
                }
            }

            &:hover .descripcion {
                transform: scaleY(1);
                cursor   : pointer;
            }
        }
    }
}

/*---Cards Bootstrap con efecto en imagen---*/
/*---Clases agregadas para dar efecto---*/
.cards {
    h2 {
        margin-top: 20px;
    }

    .container {
        padding-bottom: 40px;

        .img-efect {
            overflow: hidden;

            img {
                transition: all 1.5s ease;

                &:hover {
                    transform: scale(1.5);
                    cursor   : pointer;
                }
            }
        }
    }
}

/*---Modificación estilos Cards Bootstrap---*/
.card {
    border-radius: 8px;
    border       : 4px solid rgba(170, 81, 81, 0.685);
}

.card img {
    border-bottom: 4px solid rgba(170, 81, 81, 0.685);
}

.card-body h5 {
    color             : $color-negro;
    box-shadow        : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -webkit-box-shadow: 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
    -moz-box-shadow   : 7px 0px 5px 4px rgba(171, 48, 48, 0.75);
}