/*---MEDIA QUERIES---*/
/*---Responsive max-width---*/

@media screen and (max-width:1075px) {
    .presentacion  .contain{
        grid-template-columns: 1fr;
    }
    
    .presentacion .contain .box-jobs{
        grid-column: 1;
        grid-row: 1;
    }

    .presentacion .contain .box-cook  {
        grid-column: 1;
        grid-row: 2;
    }

    .presentacion .contain .box-gates {
        grid-column: 1;
        grid-row: 3;
    }

    .presentacion .contain .box-bezos{
        grid-column: 1;
        grid-row: 4;
    }
    
    .presentacion .contain .box-musk  {
        grid-column: 1;
        grid-row: 5;
    }
}

@media screen and (max-width:991px) {
    .nav-link {
        text-align: center;
    }

    .todo-tecno .grid-conteiner-windows {
        grid-template-columns: repeat(2, 2fr);
        grid-auto-rows       : minmax(120px, auto);
    }

    .todo-tecno .grid-conteiner-windows .grid-item-windows {
        grid-column: span 1;
        grid-row   : span 1;
    }

    .todo-tecno .grid-conteiner-windows .grid-item-11 {
        grid-column: span 2;
    }

    .youtube-wrapper {
        width: 60%;
    }
}

@media screen and (max-width:936px) {
    .antivirus .antivirus-table thead td{
        font-size: 1rem;
    }

    .antivirus .antivirus-table thead td {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
    .todo-tecno .slider ul li .slider-card  {
        height: 200px;
    }

    .boton-wsp {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .todo-tecno .slider ul li .slider-card div {
        margin-top: 60px;
    }

    .todo-tecno .slider ul li .slider-card {
        height: 160px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 1.35rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 1 rem;
    }

    .youtube-wrapper {
        width: 70%;
    }
}

@media screen and (max-width:620px) {
    .antivirus .antivirus-img {
        width: 350px;
    }

    .todo-tecno .slider ul li .slider-card div {
        margin-top: 50px;
    }

    .todo-tecno .slider ul li .slider-card {
        height: 130px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 1.25rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 0.9rem;
    }

    footer {
        flex-direction: column;
    }

    .slide img {
        height: 55vh;
    }
}

@media screen and (max-width:530px) {
    .todo-tecno .slider ul li .slider-card {
        height: 110px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 1.12rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 0.75rem;
    }

    .todo-tecno .slider ul li .slider-card div {
        margin-top: 35px;
    }

    .grid-item-windows h4 {
        font-size: 1.12rem;
    }
}

@media screen and (max-width:488px) {
    .titulo-inicio {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    .todo-tecno .slider ul li .slider-card {
        height: 110px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 1rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 0.75rem;
    }

    .button-form {
        font-size: 1rem;
    }

    .grid-item-windows h4 {
        font-size: 0.9rem;
    }

    .youtube-wrapper {
        width: 80%;
    }

    .slide img {
        height: 55vh;
    }

    .hero .titulo .titulo-hero {
        font-size: 2rem;
    }

    .hero .titulo .subtitulo-hero {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:428px) {
    .antivirus .antivirus-table thead td {
        font-size: 0.7rem;
    }

    .antivirus .antivirus-table tbody td {
        font-size: 0.6rem;
    }

    .slide img {
        height: 50vh;
    }

    .todo-tecno .slider ul li .slider-card {
        height: 100px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 0.9rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 0.5rem;
    }

    .grid-item-windows h4 {
        font-size: 0.8rem;
    }
    .contacto .titulo-contacto{
        font-size: 1.5rem;
    }
    .accordion-button::after {
        width : 0;
        height: 0;
    }

    .accordion-body {
        font-size: 1rem;
    }

    .hero .titulo .subtitulo-hero {
        font-size: 1.55rem;
    }
}

@media screen and (max-width:380px) {
    .titulo-inicio {
        font-size: 1.2rem;
    }

    .grid-genios h2 {
        font-size: 1.3rem;
    }
    .presentacion .contain .grid-box .citas{
        font-size: 0.85rem;
    }
    p {
        font-size: 0.75rem;
    }

    .slide img {
        height: 40vh;
    }

    .placa-servicios img {
        width: 280px;
    }

    .antivirus .antivirus-img {
        width: 280px;
    }

    .todo-tecno .slider ul li .slider-card {
        height: 90px;
    }

    .todo-tecno .slider ul li .slider-card h3 {
        font-size: 0.7rem;
    }

    .todo-tecno .slider ul li .slider-card a {
        font-size: 0.5rem;
    }

    .todo-tecno .slider ul li .slider-card div {
        padding-bottom: 5px;
    }
    .contacto .titulo-contacto{
        font-size: 1.3rem;
    }
    .text-datos {
        font-size: 0.75rem;
    }

    .textarea {
        font-size: 0.75rem;
    }

    .grid-item-windows h4 {
        font-size: 0.7rem;
    }

    .accordion-body {
        font-size: 0.75rem;
    }

    .hero .titulo .subtitulo-hero {
        font-size: 1.32rem;
    }
}