
$color-plomizo:#404040;
$color-plata: #8C8C8C;
$color-tiza: #D9D9D9;
$color-blanco: #fff;
$color-negro: #0D0D0D;
$color-salmon: #F28F79;
$color-ladrillo: #A65851;
$color-gris: #3E4C59;

$bg-size: cover;
$bg-repeat: no-repeat;
$bg-attachment: fixed;
$bg-position: center;